module.exports.Credentials = {
    sid: 'ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
    authToken: 'dcXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX',
    outgoingId: '+1XXXXXXXXX',
    testToNumber: '+XXXXXXXXXXX',
    base_url: 'http://www.example.com'
};
